In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from time import sleep
from selenium.webdriver.chrome.options import Options
import sys
import regex as re
import pandas as pd

In [2]:
a = pd.read_csv('Data/nombreUSA.csv')
b = pd.read_csv('Data/metrosUSA.csv')
c= pd.read_csv('Data/pistasUSA.csv')
d = pd.read_csv('Data/remontesUSA.csv')
e = pd.read_csv('Data/preciosUSA.csv')
f = pd.read_csv('Data/temporadaUSA.csv')

In [3]:
dfINAL = pd.concat([a,b,c,d,e,f], axis=1)

In [4]:
dfINAL = dfINAL.drop('Unnamed: 0', 1)

<ipython-input-4-448f5175fe73>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dfINAL = dfINAL.drop('Unnamed: 0', 1)

In [5]:
dfINAL

,Nombre,Minima Altura,Maxima Altura,Pistas_Totales,Easy,Intermediate,Difficult,Aditional_Routes,Lifts,Adults,Youth,Children,Current_season_start,Current_season_finish,General_season_start,General_season_finish,Opening_time,Closing_time
0,['Vail'],['__2457 m,3433 m ('],234.0,57.0,84.0,93.0,NaN,25.0,$ 219,- US$ 151,-,2021-11-19,2022-04-24__,mid November,mid April__,08:30,16:00__
1,['Telluride'],['__2659 m,3815 m ('],88.2,6.7,51.7,29.8,11.9,16.0,$ 169,- US$ 96,-,2021-11-25,2022-04-17__,mid November,mid April__,09:00,16:00__
2,['Beaver Creek'],['__2255 m,3488 m ('],150.0,28.5,64.5,57.0,25.0,18.0,$ 218,- US$ 150,-,2021-11-24,2022-04-18__,mid November,mid April__,09:00,15:30__
3,['Snowmass'],['__2473 m,3813 m ('],237.0,12.0,114.0,111.0,NaN,16.0,$ 199,- US$ 139,-,2021-11-25,2022-04-17__,late November,mid April__,08:30,15:30__
4,['Mammoth Mountain'],['__2424 m,3369 m ('],89.8,18.4,48.5,22.9,100.0,25.0,$ 209,- US$ 171,- US$ 84,2021-11-12,2022-05-29__,early November,early June__,08:30,16:00__
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,['Tahoe Donner'],['__2057 m,2240 m ('],14.0,6.0,8.0,0.0,NaN,2.0,$ 89,- US$ 79,- US$ 59,NaN,NaN,early December,early April__,09:00,16:00__
203,['Suicide Six'],['__220 m,411 m ('],10.5,3.5,4.0,3.0,NaN,3.0,$ 75,- US$ 60,-,NaN,NaN,NaN,NaN,09:00,16:00__
204,['Whaleback'],['__347 m,543 m ('],11.5,5.2,2.8,3.5,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,['Meadowlark Ski Lodge'],['__2585 m,2828 m ('],10.0,3.0,4.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,['Swain'],['__400 m,600 m ('],10.9,3.0,4.2,3.7,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
def limpia_col(dfcol):
    for i in dfcol:
        a = dfcol.str.extract('((\d+)+(\.\d+)|(\d+))', flags=0)
        a = a.rename(columns={0:"Primera"})
    return a.Primera

In [7]:
dfINAL['Minima Altura'] = limpia_col(dfINAL['Minima Altura'])
dfINAL['Maxima Altura'] = limpia_col(dfINAL['Maxima Altura'])
dfINAL['Adults'] = limpia_col(dfINAL['Adults'])
dfINAL['Children'] = limpia_col(dfINAL['Children'])
dfINAL['Youth'] = limpia_col(dfINAL['Youth'])

In [8]:
lista1 = []
def quitar__(dfcol):
    for i in dfcol:
        try:
            a=i.replace("__", "")
            lista1.append(a)
        except:
            lista1.append('nan')
    a =  pd.DataFrame(lista1)
    dfcol = a[0]

In [9]:
quitar__(dfINAL.Current_season_finish)

In [10]:
lista1 = []
for i in dfINAL['Current_season_finish']:
    try:
        a=i.replace("__", "")
        lista1.append(a)
    except:
        lista1.append('nan')

In [11]:
a = pd.DataFrame(lista1)

In [12]:
dfINAL['Current_season_finish'] = a[0]

In [13]:
lista2 = []
for i in dfINAL['General_season_finish']:
    try:
        a = i.replace("__", "")
        lista2.append(a)
    except:
        lista1.append('nan')

In [14]:
b = pd.DataFrame(lista2)

In [15]:
dfINAL['General_season_finish'] = b[0]

In [16]:
lista3 = []
for i in dfINAL['Closing_time']:
    try:
        a=i.replace("__", "")
        lista3.append(a)
    except:
        lista3.append('nan')

In [17]:
c = pd.DataFrame(lista3)

In [18]:
dfINAL['Closing_time'] = c[0]

In [19]:
dfINAL.rename(columns=lambda x: x.replace('Nombre', 'Name'), inplace=True)
dfINAL.rename(columns=lambda x: x.replace('Minima Altura', 'Min_Altitude'), inplace=True)
dfINAL.rename(columns=lambda x: x.replace('Maxima Altura', 'Max_Altitude'), inplace=True)
dfINAL.rename(columns=lambda x: x.replace('Pistas_Totales', 'Total_ski_routes'), inplace=True)

In [20]:
listOfStrings1 = ['America'] * 207

In [21]:
dfloc = pd.DataFrame(listOfStrings1)

In [22]:
dfloc
dfloc = dfloc.rename(columns={0:"Contintent"})

In [24]:
dfINAL.insert(1, 'Continent', listOfStrings1)

In [25]:
dfINAL

,Name,Continent,Min_Altitude,Max_Altitude,Total_ski_routes,Easy,Intermediate,Difficult,Aditional_Routes,Lifts,Adults,Youth,Children,Current_season_start,Current_season_finish,General_season_start,General_season_finish,Opening_time,Closing_time
0,['Vail'],America,2457,3433,234.0,57.0,84.0,93.0,NaN,25.0,219,151,NaN,2021-11-19,2022-04-24,mid November,mid April,08:30,16:00
1,['Telluride'],America,2659,3815,88.2,6.7,51.7,29.8,11.9,16.0,169,96,NaN,2021-11-25,2022-04-17,mid November,mid April,09:00,16:00
2,['Beaver Creek'],America,2255,3488,150.0,28.5,64.5,57.0,25.0,18.0,218,150,NaN,2021-11-24,2022-04-18,mid November,mid April,09:00,15:30
3,['Snowmass'],America,2473,3813,237.0,12.0,114.0,111.0,NaN,16.0,199,139,NaN,2021-11-25,2022-04-17,late November,mid April,08:30,15:30
4,['Mammoth Mountain'],America,2424,3369,89.8,18.4,48.5,22.9,100.0,25.0,209,171,84,2021-11-12,2022-05-29,early November,early June,08:30,16:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,['Tahoe Donner'],America,2057,2240,14.0,6.0,8.0,0.0,NaN,2.0,89,79,59,NaN,nan,early December,NaN,09:00,16:00
203,['Suicide Six'],America,220,411,10.5,3.5,4.0,3.0,NaN,3.0,75,60,NaN,NaN,nan,NaN,NaN,09:00,16:00
204,['Whaleback'],America,347,543,11.5,5.2,2.8,3.5,NaN,3.0,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,nan
205,['Meadowlark Ski Lodge'],America,2585,2828,10.0,3.0,4.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,nan
206,['Swain'],America,400,600,10.9,3.0,4.2,3.7,NaN,5.0,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,nan

In [41]:
lista1 = []
for i in dfINAL.Name:
    a = i.replace("']", "")
    lista1.append(a)

In [42]:
dfINAL['Name']= lista1

In [43]:
dfINAL

,Name,Continent,Min_Altitude,Max_Altitude,Total_ski_routes,Easy,Intermediate,Difficult,Aditional_Routes,Lifts,Adults,Youth,Children,Current_season_start,Current_season_finish,General_season_start,General_season_finish,Opening_time,Closing_time
0,['Vail,America,2457,3433,234.0,57.0,84.0,93.0,NaN,25.0,219,151,NaN,2021-11-19,2022-04-24,mid November,mid April,08:30,16:00
1,['Telluride,America,2659,3815,88.2,6.7,51.7,29.8,11.9,16.0,169,96,NaN,2021-11-25,2022-04-17,mid November,mid April,09:00,16:00
2,['Beaver Creek,America,2255,3488,150.0,28.5,64.5,57.0,25.0,18.0,218,150,NaN,2021-11-24,2022-04-18,mid November,mid April,09:00,15:30
3,['Snowmass,America,2473,3813,237.0,12.0,114.0,111.0,NaN,16.0,199,139,NaN,2021-11-25,2022-04-17,late November,mid April,08:30,15:30
4,['Mammoth Mountain,America,2424,3369,89.8,18.4,48.5,22.9,100.0,25.0,209,171,84,2021-11-12,2022-05-29,early November,early June,08:30,16:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,['Tahoe Donner,America,2057,2240,14.0,6.0,8.0,0.0,NaN,2.0,89,79,59,NaN,nan,early December,NaN,09:00,16:00
203,['Suicide Six,America,220,411,10.5,3.5,4.0,3.0,NaN,3.0,75,60,NaN,NaN,nan,NaN,NaN,09:00,16:00
204,['Whaleback,America,347,543,11.5,5.2,2.8,3.5,NaN,3.0,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,nan
205,['Meadowlark Ski Lodge,America,2585,2828,10.0,3.0,4.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,nan
206,['Swain,America,400,600,10.9,3.0,4.2,3.7,NaN,5.0,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,nan

In [44]:
lista2 = []
for i in dfINAL.Name:
    a = i.replace("['", "")
    lista2.append(a)

In [45]:
dfINAL['Name']= lista2

In [48]:
dfINAL.sample(10)

,Name,Continent,Min_Altitude,Max_Altitude,Total_ski_routes,Easy,Intermediate,Difficult,Aditional_Routes,Lifts,Adults,Youth,Children,Current_season_start,Current_season_finish,General_season_start,General_season_finish,Opening_time,Closing_time
35,Wenatchee – Mission Ridge,America,1392,2078,100.0,10.0,60.0,30.0,NaN,4.0,74,54,NaN,NaN,nan,late November,early April,09:00,16:00
92,June Mountain,America,2288,3075,35.7,2.1,12.9,20.7,NaN,6.0,129,106,NaN,2021-12-11,2022-04-18,mid December,early April,08:30,16:00
14,Steamboat,America,2103,3221,165.0,25.0,95.0,45.0,NaN,17.0,199,139,NaN,2021-12-03,2022-04-18,late November,mid April,08:30,16:00
61,Alyeska Resort – Girdwood,America,70,840,62.0,14.0,31.0,17.0,NaN,5.0,89,71,45,2021-12-11,2022-04-24,late November,mid April,10:30,16:00
17,Alpine Meadows,America,2083,2632,100.0,25.0,40.0,35.0,50.0,11.0,209,188,146,2021-11-20,2022-05-08,mid November,mid May,09:00,16:00
16,Aspen Highlands,America,2451,3559,135.0,24.3,40.5,70.2,NaN,5.0,199,139,NaN,2021-12-11,2022-04-10,mid December,mid April,09:00,15:30
184,Whitetail,America,261,545,10.2,1.5,5.6,3.1,NaN,6.0,79,67,NaN,NaN,nan,NaN,NaN,08:30,22:00
78,Grand Targhee,America,2310,3048,35.0,5.0,15.0,15.0,NaN,4.0,110,49,NaN,2021-11-19,2022-04-18,late November,early April,09:00,16:00
65,Bogus Basin,America,1767,2311,50.0,11.0,22.0,17.0,NaN,7.0,64,49,25,NaN,nan,NaN,mid April,10:00,22:00
125,Mt. Spokane,America,1185,1795,26.0,7.0,5.0,14.0,NaN,6.0,62,52,NaN,NaN,nan,NaN,NaN,09:00,21:30

In [47]:
dfINAL.to_csv("Data/USAFin.csv")